<div class="container">

  <h1>The Stores you frequent: </h1>

  <ul>

    <% @stores.each do |store| %>
      <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
    <% end %>

  </ul>

</div>
