<div class="container">

  <h1><%= @store.name %></h1>

  <ul>
    <% @receipts.each do |receipt| %>
      <li><%= edited_date(receipt.created_at) %> - $<%= receipt.total %> - <a href="/receipts/<%= receipt.id %>"> View</a></li>
    <% end %>
  </ul>

</div>
