<div class="container">

  <h1><%= @store.name %></h1>

  <ul>
    <% @receipts.each do |receipt| %>
      <li><%= receipt.created_at.strftime("%b. %d %Y") %> - $<%= receipt.total %> - <a href="/receipts/<%= receipt.id %>"> View</a></li>
    <% end %>
  </ul>

</div>
