h1 {
  color: #fff;
}

.input-field label,
label {
  color: #fff;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=date] {
  border-bottom: 1px solid #fff;
}

input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #000;
}
