h1, h2, h3, h4 {
  color: #fff;
}

.input-field label,
label {
  color: #fff;
}

.username {
  padding: 0 15px;
}

.store_card_link {
  display: block;
}

#recent_purchases {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
}

#welcome {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 15px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=date] {
  border-bottom: 1px solid #fff;
}

input[type=text]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #000;
}
