<h1>Here is a list of all your current receipts.</h1>

<ul>
  <%@receipts.each do |receipt|%>
    <li><%=receipt.store.name%> - $<%=receipt.total%> - <a href="/receipts/<%= receipt.id %>">View</a></li>
  <%end%>
</ul>
