<div class="container center">
  <h1>Create a new Receipt</h1>
</div>

<div class="container">
  <div class="row">
    <form action="/receipts/new" method="post" class="col s12">

      <div class="input-field col s6">
        <label for="receipt[store][name]">Store Name: </label>
        <input type="text" name="store[name]" class="validate">
      </div>

      <div class="input-field col s6">
        <label for="receipt[item_number]">Number of items purchased: </label>
        <input type="number" name="receipt[number_of_items]" class="validate">
      </div>

      <div class="input-field col s12">
        <label for="receipt[total]">Total Purchase Amount: </label>
        <input type="text" name="receipt[total]">
      </div>


      <input type="submit" class="btn" value="Submit">

    </form>
  </div>
</div>
