<div class="container">
  <h1 class="center">Welcome, please fill out the form below and lets get you going!</h1>
</div>

<div class="container">
  <div class="row">

    <form action="/signup" method="post" class="col s12">

      <div class="input-field col s6">
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name">
      </div>

      <div class="input-field col s6">
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name">
      </div>

      <div class="input-field col s6">
        <label for="username">Username: </label>
        <input type="text" name="username">
      </div>

      <div class="input-field col s6">
        <label for="password">Password: </label>
        <input type="password" name="password">
      </div>

      <div class="input-field col s12">
        <label for="email">Email: </label>
        <input type="email" name="email">
      </div>

      <input type="submit" class="btn">
    </form>

  </div>
</div>
