<div class="container">
  <h1 class="center">Welcome, please fill out the form below and lets get you going!</h1>
</div>

<form action="/signup" method="post" class="container">
  
  <label for="username">Username: </label>
  <input type="text" name="username">
  <br><br>

  <label for="email">Email: </label>
  <input type="email" name="email">
  <br><br>

  <label for="password">Password: </label>
  <input type="password" name="password">
  <br><br>

  <input type="submit">
</form>