<div class="container center">
  <h1>Add your items below: </h1>
</div>

<div class="container">
  <div class="row">
    <form action="/receipts/<%= @receipt.id %>/items/new" method="post" class="col s12">

      <% @receipt.number_of_items.times do %>

        <div class="input-field col s6">
          <label for="item[][name]">Name: </label>
          <input type="text" name="item[][name]">
        </div>

        <div class="input-field col s6">
          <label for="item[][price]">Price: </label>
          <input type="text" name="item[][price]">
        </div>

      <% end %>

      <input type="submit" class="btn" value="Submit">

    </form>
  </div>
</div>
